.alignitem{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

.alignitem1{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}
.password{
    margin-left: 100px;
    color: red;
}