img{
    height: 10%;
    width: 95%;
    margin-left: 12px;
    margin-top: 2px;
    z-index: -1;
}

.container {
  
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered1 {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
  }